:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --default-font-family: "Manrope", sans-serif;
  --heading-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--heading-font-family);
  line-height: 1.5;
}

h2 {
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 30px;
}

img {
  border-radius: 4px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 0;
}

.hero p {
  font-family: var(--heading-font-family);
  font-size: 36px;
  margin: 0;
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  background-color: var(--secondary-color);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding-left: 30px;
}

.about-header {
  padding: 100px 10px;
}

.about-header-content {
  margin: 60px 20px;
}

.about-header h1 {
  font-size: 48px;
  line-height: 1.2;
  font-family: var(--heading-font-family);
}

.about-header h2 {
  font-size: 18px;
}

.about-header p {
  font-size: 16px;
  font-family: var(--heading-font-family);
}

@media (max-width: 960px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  .hero {
    padding: 60px 10px;
  }

  .hero h2 {
    font-size: 15px;
  }

  .hero p {
    font-size: 24px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-header {
    text-align: center;
    padding: 0 10px;
  }

  .about-header-content {
    margin: 20px 0;
  }

  .about-header h1 {
    font-size: 36px;
    line-height: 1.2;
    font-family: var(--heading-font-family);
  }
}
